.display-workout-container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.9); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 10px solid transparent; /* Thicker transparent border */
    background-clip: padding-box; /* Prevent background color from extending into the border */
    backdrop-filter: blur(10px); /* Blur effect */
    position: relative;
}

.display-workout-container h2, 
.display-workout-container h3 {
    color: #333;
}

.display-workout-container ul {
    list-style-type: none;
    padding: 0;
}

.display-workout-container li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
