/* Global Styles */
body {
    background-color: #4caf50; /* Fitness lifestyle color */
    background-image: 
      linear-gradient(45deg, rgba(255,255,255,0.1) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) 75%, transparent 75%, transparent),
      linear-gradient(45deg, rgba(255,255,255,0.1) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) 75%, transparent 75%, transparent);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
  }
  

  .form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.9); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 10px solid transparent; /* Thicker transparent border */
    background-clip: padding-box; /* Prevent background color from extending into the border */
    backdrop-filter: blur(10px); /* Blur effect */
    position: relative;
}

.form-group {
    margin-bottom: 20px;
  }

.form-group label {
display: block;
margin-bottom: 5px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.form-container .form-input {
    max-width: 200px; /* Set a max width for number inputs */
  }

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin: 10px 0;
    text-align: center;
    padding: 10px;
    background-color: rgba(200, 200, 200, 0.5); /* Light gray with semi-transparency */
    border-radius: 5px;
    backdrop-filter: blur(5px); /* Blur effect */
    border: 2px solid transparent;
    background-clip: padding-box;
}

.error-message::before {
    content: '';
    position: absolute;
    top: -2px; /* Match the border thickness */
    bottom: -2px; /* Match the border thickness */
    left: -2px; /* Match the border thickness */
    right: -2px; /* Match the border thickness */
    background: radial-gradient(circle, rgba(200, 200, 200, 0.3) 50%, transparent 70%); /* Circular gradient */
    border-radius: inherit;
    z-index: -1;
}